<mat-card>
  <mat-card-title>Inicio de Sesión</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Ingrese su usuario" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" placeholder="Ingrese su contraseña" required>
      </mat-form-field>

      <button mat-raised-button color="primary">Iniciar Sesión</button>
    </form>
  </mat-card-content>
</mat-card>
