<div class="home-container">
  <mat-card class="home-card">
    <mat-card-header>
      <mat-card-title>Opciones del Usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="warn" class="logout-button" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
      <mat-grid-list cols="2" rowHeight="150px" gutterSize="10px">
        <mat-grid-tile>
          <button mat-raised-button color="primary" class="home-option" (click)="goTo('deposito')">
            <mat-icon>account_balance</mat-icon>
            <span>Depósito</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" class="home-option" (click)="goTo('retiro')">
            <mat-icon>local_atm</mat-icon>
            <span>Retiro</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" class="home-option" (click)="goTo('saldo')">
            <mat-icon>account_balance_wallet</mat-icon>
            <span>Consulta de saldo</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" class="home-option" (click)="goTo('transferencia')">
            <mat-icon>swap_horiz</mat-icon>
            <span>Transferencia</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" class="home-option">
            <mat-icon>receipt</mat-icon>
            <span>Servicios públicos</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" class="home-option">
            <mat-icon>vpn_key</mat-icon>
            <span>Cambio de Pin</span>
          </button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button mat-raised-button color="primary" class="home-option" (click)="goTo('historial-transacciones')">
            <mat-icon>history</mat-icon>
            <span>Historial de transacciones</span>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
